.select-container {
  position: relative;
  width: 100%;

  select {
    text-align: left;
    text-align-last: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    width: 100%; 
    padding: 12px 40px 12px 4rem;
    border-radius: 5px;
    border: solid 1px #bbbbbb;
    outline: none;
    font-size: 1.05rem;
    color: #2C2C54;

}

  select option {
    text-align: left;
  }

  .icon-left {
    position: absolute;
    left: 5px;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none;

    img {
      width: 36px;
      height: 100%;
    }

  }

  .icon-right {
    position: absolute;
    right: 12px;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none;

  }


  .icon-right {
    img {
      width: 2.3rem;
      height: 100%;
      transform: rotate(0deg);
      transition: transform 0.25s ease;
    }

    &.focused {
      img {
        transform: rotate(180deg);
      }
    }
  }

// .select-container {
//   position: relative;

//   .icon-right img {
//     width: 3rem;
//     height: 100%;
//     transform: rotate(0deg); // 🔽 fechado
//     transition: transform 0.25s ease;
//   }

//   /* QUANDO O SELECT ESTIVER ATIVO */
//   &:focus-within {
//     .icon-right img {
//       transform: rotate(180deg); // 🔼 aberto
//     }
//   }
// }

}
