<div class="relative input-wrapper">
  @if (iconSrc){
      <span class="input-icon">
        <img src="{{iconSrc}}" alt="{{iconAlt}}">
      </span>
    }

  <input class="input-cal input-base input-field"
    [id]="id"
    [attr.name]="name || null"
    [attr.autocomplete]="autocomplete || null"
    [attr.aria-invalid]="invalid ? 'true' : null"
    [attr.aria-describedby]="describedBy || null"
    [placeholder]="placeholder || ' '"
    [type]="type"
    [value]="value"
    [disabled]="disable"
    (input)="handleInput($event)"
    (paste)="handlePaste($event)"
    (blur)="handleBlur()"
    >

  <label class="label-cal label-base label-input" [for]="id">{{label}}</label>

</div>
