
.primary-input{
    box-sizing: border-box;
    margin: 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    input{
        box-sizing: border-box;
        padding: 0.5rem;
        min-height: 44px;
        border: 2px solid #EAEBED;
        border-radius: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 575.98px) {
    .primary-input {
        margin-inline: 0.5rem;
        width: calc(100% - 1rem);
    }
}