.primary-select {
    box-sizing: border-box;
    margin: 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);

    select {
        box-sizing: border-box;
        padding: 0.5rem;
        min-height: 44px;
        border: 2px solid #EAEBED;
        border-radius: 10px;
        font-size: 1rem;
        background-color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

@media (max-width: 575.98px) {
    .primary-select {
        margin-inline: 0.5rem;
        width: calc(100% - 1rem);
    }
}